

#kadr_person form #surname,
#kadr_person form #name,
#kadr_person form #fathername,
#kadr_person form #birthdate
{
	font-weight:normal;
	color: #000;
	background-color: #f5f9fb;
}

.otkaz{
	background-color: #ffe2e2;
}









